@model PagerData<Ninesky.Models.Mail>
@{
    ViewBag.Title = "我的邮件";
    Layout = "~/Views/Shared/_User.cshtml";
}

<div class="workspace">
    <div class="inside">
        <div class="notebar">
            <img alt="" src="~/Content/Default/User/Images/Icon/Article_16.png" />您现在的位置： 我的邮件
        </div>
        <div>
            <table class="modelitems_table">
                <tr>
                    <th>ID</th>
                    <th>栏目</th>
                    <th>标题</th>
                    <th>发表者</th>
                    <th>发布时间</th>
                    <th>状态</th>
                    <th>点击</th>
                    <th colspan="2">操作</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.MailID</td>
                        <td>[@Html.ActionLink(item.Category.Name, "PartialDetail", new { id = item.MailID })]</td>
                        <td>@item.SendTime</td>
                        <td>@Html.ActionLink("修改", "MailEdit", new { id = item.MailID })</td>
                        <td>@Html.ActionLink("删除", "MailDelete", new { id = item.MailID }, new { @class = "btnDel" })</td>
                    </tr>
                }
            </table>
            @Html.Pager(this.ViewContext.RouteData.Values, Model.Config, "pager", "pager")
        </div>
    </div>en 
</div>
<div class="left">@Html.Partial("PartialUserNavMenus")<br />
</div>
<div class="clear"></div>
<script type="text/javascript">
    $(".btnDel").click(function () {
        if (confirm("你确定要删除该邮件吗？")) {
            var url = $(this).attr("href");
            $.post(url, null, function (data) {
                if (data) {
                    alert("删除成功!");
                    window.location.reload();
                }
                else {
                    alert("删除失败！");
                }
            });
        }
        return false;
    });
</script>
