@model Ninesky.Models.Mail

@{
    ViewBag.Title = "添加邮件";
    Layout = "~/Views/Shared/_User.cshtml";
}
<div class="row-fluid">
    <div class="span2 bs-docs-sidebar">
        @Html.Action("PartialUserNavMenus")
    </div>
    <div class="span8">
        <ul class="breadcrumb">
            <li class="active">写邮件</li>
        </ul>  
        @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <div class="form-horizontal">
                    <dl> 
                        <dd class="control-group">
                            <div class="control-label">
                                @Html.LabelFor(model => model.ToUser)
                            </div>
                            <div class="controls">
                                @Html.EditorFor(model => model.ToUser)
                                @Html.DisplayDescriptionFor(model => model.ToUser)
                                @Html.ValidationMessageFor(model => model.ToUser)
                            </div>
                        </dd>

                        <dd class="control-group">
                            <div class="control-label">
                                @Html.LabelFor(model => model.Title) 
                            </div>
                            <div class="controls">
                                @Html.EditorFor(model => model.Title)
                                @Html.DisplayDescriptionFor(model => model.Title)
                                @Html.ValidationMessageFor(model => model.Title)
                            </div>    
                                                 
                        </dd>

                        <dd class="control-group">
                            <div class="control-label">
                                @Html.LabelFor(model => model.Content) 
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(model => model.Content, new { @class = "content"})
                                @Html.DisplayDescriptionFor(model => model.Content)
                                @Html.ValidationMessageFor(model => model.Content)
                            </div>
                        </dd>
                        <dd class="control-group">
                            <div class="control-label">
                            </div>
                            <div class="controls">
                                <input class ="btn btn-primary" type="submit" value="发布" />
                            </div>
                        </dd>
                    </dl>
                </div>
            }
    </div>
</div>
<div class="clear"></div>
<script type="text/javascript">
    KindEditor.ready(function (K) {
        K.create('#Content', {
            width: "90%", //编辑器的宽度为90%  
            height: "250px", //编辑器的高度为100px
    });
    });
    var setting = {
        view: { selectedMulti: false },
        callback: {
            onClick: zTreeOnClick
        }
    };
    $(document).ready(function () {
        $.post("@Url.Action("JsonUserGeneralTree", "Category")", { model: "Mail" }, function (data) {
            var zTree = $.fn.zTree.init($("#categorytree"), setting, data);
            zTree.expandAll(true);
        });
        $("#CommonModel_CategoryId_Text").click(function () {
            $("#categorytree").show();
        });
    });
    function zTreeOnClick(event, treeId, treeNode) {
        if (treeNode.iconSkin == "canadd") {
            $("#CommonModel_CategoryId").val(treeNode.id);
            $("#CommonModel_CategoryId_Text").val(treeNode.name);
            $("#categorytree").hide();
        }
        else {
            alert("该栏目不能邮件");
        }
    };
    $("#CommonModel_ReleaseDate").datepicker({
    })
    $("input[type='submit']").button();
    
</script>
@section Scripts {
    @Styles.Render("~/ZtreeCss")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Ztree")
    @Scripts.Render("~/bundles/kindeditor")
}
