<ul class="nav nav-tabs nav-stacked">
    <li>@Html.ActionLink("写邮件", "MailAdd", "Mail") </li>
    <li>@Html.ActionLink("收件箱", "MailInbox", "Mail") </li>
    <li>@Html.ActionLink("发件箱", "MailOutBox", "Mail") </li>
    <li>@Html.ActionLink("草稿箱", "MailDraft", "Mail") </li>
    <li>@Html.ActionLink("回收站", "MailRecycle", "Mail") </li>
</ul>