@model Ninesky.Models.UserLogin

@{
    ViewBag.Title = "用户登陆";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
        <form class="bs-docs-example form-horizontal">
            <div class="control-group">
                <label class="control-label" > @Html.LabelFor(model => model.UserName)</label>
                <div class="controls">
                    @Html.EditorFor(model => model.UserName)  
                    @Html.ValidationMessageFor(model => model.UserName)
                    @Html.DisplayDescriptionFor(model => model.UserName)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" >@Html.LabelFor(model => model.Password)</label>
                <div class="controls">
                    @Html.PasswordFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                    @Html.DisplayDescriptionFor(model => model.Password)
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input class="btn" type="submit" value=" 登 陆 " />@Html.ValidationMessage("Message")
                  <div class="btn" style="margin-left:100px">@Html.ActionLink(" 注 册 ", "Register", "User")</div>
                </div>
            </div>
           
            <div class="clear">                  
            </div> 
        </form>
} 
<dl style="padding-top:100px" >
  <dt>成员作业地址</dt>
  <dd><a href="http://network-1.apphb.com/" target="_blank"> 陈  侠 2010052817</a></dd>
    <dd><a href="http://xiongpingwu.apphb.com" target="_blank"> 吴雄平 2010052816</a></dd>
    <dd><a href="http://wangzi.apphb.com" target="_blank"> 陈佳旺 2010052821</a> </dd>
</dl>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
