@model Ninesky.Models.UserRegister

@{
    ViewBag.Title = "用户注册";
    Layout = "~/Views/Shared/_User.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="bs-docs-example form-horizontal">
        <dl>
            <dt>用户注册</dt>
            <dd class="control-group">
                <div class="control-label">@Html.LabelFor(model => model.UserName)</div>
                <div class="controls">@Html.EditorFor(model => model.UserName)
                    @Html.ValidationMessageFor(model => model.UserName)
                    @Html.DisplayDescriptionFor(model => model.UserName)
                </div>
            </dd>
            <dd class="control-group">
                <div class="control-label">@Html.LabelFor(model => model.Gender)</div>
                <div class="controls">@Html.RadioButton("Gender", 0) 男 @Html.RadioButton("Gender", 1) 女 @Html.RadioButton("Gender", 2, true) 保密
                    @Html.ValidationMessageFor(model => model)
                    @Html.DisplayDescriptionFor(model => model)
                </div>
            </dd>
            <dd class="control-group">
                <div class="control-label">@Html.LabelFor(model => model.Password)</div>
                <div class="controls">@Html.PasswordFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                    @Html.DisplayDescriptionFor(model => model.Password)
                </div>
            </dd>
            <dd class="control-group">
                <div class="control-label">@Html.LabelFor(model => model.ConfirmPassword)</div>
                <div class="controls">@Html.PasswordFor(model => model.ConfirmPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    @Html.DisplayDescriptionFor(model => model.ConfirmPassword)
                </div>
            </dd>
            <dd class="control-group">
                <div class="control-label">@Html.LabelFor(model => model.Email)</div>
                <div class="controls">@Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                    @Html.DisplayDescriptionFor(model => model.Email)
                </div>
            </dd>
            <dd class="control-group">
                <div class="control-label"></div>
                <div class="controls">
                    <input class ="btn btn-primary" type="submit" value="注册" />
                </div>
            </dd>
        </dl>
        <div class="clear"></div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
