<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - </title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
@*    @Styles.Render("~/Css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")*@
    @Styles.Render("~/Content/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Content/bootstrap/css/bootstrap-responsive.min.css")
    @Scripts.Render("~/Content/bootstrap/js/bootstrap.min.js")
   @RenderSection("scripts", required: false)
</head>
<body>
    <div class="row-fluid">
       <div class="span5 offset1">
           <h2>CWE 站内式邮件系统</h2>
       </div>
        <div class="span6 offset3">
                @RenderBody() 
        </div>
    </div> 
    <div class="text-center">
         <p>版权所有 http://mzwhj.cnblogs.com</p>
    </div>
</body>
</html>
